* {
	-webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
	font-family: Open Sans;
	text-align: center;
	vertical-align: middle;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

li {
	display: inline;
	margin: 20px;
}

h1 {
	margin-top: 0;
}

a {
	color: #aaa;
	cursor: pointer;
}

#login, #loggedin {
	display: none;
}

#login {
	color: black
}

.exp {
	color: red;
}

.delete {
	color: red;
}

.main {
	height: 70vh;
	width: 100vw;
	background: url(..//img/records.jpg) no-repeat;
	background-size: cover;
}

.shade {
	height: 70vh;
	width: 100vw;
	background-color: rgba(0,0,0,0.6);
}

.header {
	padding: 10vh 7vw 0 7vw;
	color: white;
}

.sub-header {
	padding: 2vw 5vw 0 5vw;
	color: white;
	font-size: 20px;
}

.search {
	width: 350px;
	height: 40px;
	margin-top: 20vh;
}

.search-button {
	width: 300px;
	height: 35px;
	margin-top: 10px;
	font-size: 20px;
	border-radius: 5px;
	color: white;
	background-color: #0000ff;
}

.cutesy {
	padding: 25px;
}

.cutesy-img-div {
	width: 30vw;
	float: left;
}

.cutesy-img {
	height: 10vh;
	width: 10vh;
}

.info {
	height: 500px;
	overflow-y: scroll;
	display: none;
	background-color: black;
	color: white;
}

.info-ul {
	border-bottom: 2px solid white;
	padding-top: 12px;
}

.artist-img {
	height: 250px;
	width: 325px;
	padding-top: 20px;
}

.check {
	opacity: 0.4;
	filter: alpha(opacity=40);
}
.img-check {
	height: 100px;
	width: 175px;
}
