* {
	-webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
	font-family: Open Sans;
	text-align: center;
	vertical-align: middle;
    margin: 0;
    padding: 0;
}

ul {
	list-style-type: none;
}

li {
	display: inline;
	margin: 20px;
}

h1 {
	margin-top: 0;
}

a {
	color: #aaa;
	cursor: pointer;
}

select {
	width: 250px;
	margin: 2vh 0 0.8vh 0;
}

#login, #loggedin {
	display: none;
}

#login {
	color: black
}

.exp {
	color: red;
}

.delete {
	color: red;
	margin-bottom: 20px;
}

.main {
	height: 70vh;
	width: 100vw;
	background: url(..//img/records.jpg) no-repeat;
	background-size: cover;
}

.shade {
	height: 70vh;
	width: 100vw;
	background-color: rgba(0,0,0,0.6);
}

.header {
	padding: 10vh 7vw 0 7vw;
	color: white;
}

.sub-header {
	padding: 2vw 5vw 0 5vw;
	color: white;
	font-size: 20px;
}

.search {
	width: 350px;
	height: 40px;
	margin-top: 20vh;
}

.search-button {
	width: 300px;
	height: 35px;
	margin-top: 10px;
	font-size: 20px;
	border-radius: 5px;
	color: white;
	background-color: #0000ff;
}

.cutesy {
	padding: 25px;
}

.corner {
	cursor: pointer;
}

.cutesy-img-div {
	width: 30vw;
	float: left;
}

.cutesy-img {
	height: 10vh;
	width: 10vh;
}

.info {
	display: none;
	background-color: black;
	color: white;
}

.info-ul {
	padding-top: 22px;
	margin-left: 0;
	padding-left: 0;
}

.info-li {
	margin: 0;
}

.artist-img {
	height: 250px;
	width: 325px;
	padding-top: 20px;
}

.stage {

	display: none;
}

.stageUl:hover {
	opacity: 1;
}

.stageUl {
	width: 30vw;
	opacity: 0.4;
	filter: alpha(opacity=40);
	display: inline-block;
	cursor: pointer;

}

.stage-img {
	height: 100px;
	width: 150px;
}


.stage-li {
	display: block;
}

.img-check {
	height: 100px;
	width: 175px;
}

.fav-header {
	padding-top: 15px;
}

.icons {
	overflow-y: scroll;
	height: 100vh;
	width: 100vw;
	background-color: #ccc;
	float: left;
	color: black;
}

.jumbo {
	height: 80vh;
	width: 80vw;
	position: fixed;
	z-index: 5;
	display: none;
	background-color: black;
	opacity: 0.95;
	left: 9vw;
	bottom: 10vh;
}

.icons-ranked {
	position: absolute;
	right: 90vw;
	cursor: pointer;
}

.icons-ul {
	margin: 0;
	text-align: left;
	height: 50px;
	margin-bottom: 80px;
}

.icons-li {
	margin-left: 3px;
	margin-right: 3px;
	cursor: pointer;
}

.icons-header {
	margin: 0;
	padding-top: 15px;
	font-size: 20px;
	color: gray;
}

.icons-img {
	height: 150px;
	width: 225px;
}

.up {
	margin-right: 20px;
}

.list {
	min-height: 40vh;
	min-width: 100vw;
	background-color: black;
	color: white;
	display: none;
}

.listed {
	background-color: black;
	margin-left: 35vw;
}

.item-header {
	margin: 0;
	padding-top: 20px;
	padding-bottom: 15px;
}

.small-nav {
	margin: 0;
	padding: 0;
	font-size: 15px;
	cursor: pointer;
}

.thumbsVote {
	display: none;
}

/*----------------jquery ui-autocomplete------------*/
.auto-search {
	height: 35px;
	width: 250px;
	color: black;
}

.auto-div {
	position: absolute;
	left: 70vw;
}

.ui-autocomplete {
	width: 300px;
	height: 25vh;
	overflow-y: scroll;
	left: 0;
	text-align: left;
}

.ui-menu-item {
	width: 100%
}

.ui-helper-hidden-accessible {
	display: none;
}

